<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329922309865-ekn3jddb0n2qpa3blrjnjk5f2g3dkji2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329922309865-ekn3jddb0n2qpa3blrjnjk5f2g3dkji2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329922309865-9v6bghnir26gc763sm5v1pm0iig0vv7c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-cgLI7wHqvtGyh3k45cSO7h1tzoWRXQY</string>
	<key>GCM_SENDER_ID</key>
	<string>329922309865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Azzida</string>
	<key>PROJECT_ID</key>
	<string>azzida-6a361</string>
	<key>STORAGE_BUCKET</key>
	<string>azzida-6a361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329922309865:ios:2eaa6c7729852ff9148a78</string>
	<key>DATABASE_URL</key>
	<string>https://azzida-6a361-default-rtdb.firebaseio.com</string>
</dict>
</plist>